<template>
    <require from="../../../resources/elements/forms/registration/registration"></require>


    <h1>${message}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt, fuga illo iste minima necessitatibus neque provident quam rem repudiandae! Eveniet laboriosam optio perspiciatis veniam voluptas! Eaque eius iste possimus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt, fuga illo iste minima necessitatibus neque provident quam rem repudiandae! Eveniet laboriosam optio perspiciatis veniam voluptas! Eaque eius iste possimus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt, fuga illo iste minima necessitatibus neque provident quam rem repudiandae! Eveniet laboriosam optio perspiciatis veniam voluptas! Eaque eius iste possimus?</p>

    <registration></registration>
</template>